@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap");
@import "tailwindcss";

@font-face {
  font-family: 'Haffe-Regular';
  src: url('/fonts/Haffer-TRIAL-Regular.woff') format('woff2'),
       url('/fonts/Haffer-TRIAL-Regular.woff2') format('woff');
  font-weight: 100;
  display: swap;
  font-style: normal;
}

@theme {
  /* Fonts */
  --font-montagu: "Montagu Slab", serif;
  --font-haffe: "Haffe-Regular", sans-serif;

  /* Colors */

  --color-black: #000000;
  --color-pink: #ec6769;
  --color-white: #eee9e3;
  --color-beige: #DFD8CD;
  --color-stone: #787066;
  --color-ash: #362f2c;

  /*  */
  /* --font-p: clamp( 13px , calc(( 13/1515 ) * 100vw) , 13px); */

  --font-weight-md: 200;

  --text-menu: clamp(16px, calc((20 / 1515) * 100vw), 20px);

  --text-product: clamp(16px, calc((96 / 1515) * 100vw), 96px);
  --text-big: clamp(16px, calc((42 / 1515) * 100vw), 42px);
  --text-title: clamp(22px, calc((32 / 1515) * 100vw), 32px);
  --text-title-sm: clamp(16px, calc((20 / 1515) * 100vw), 20px);
  --text-p: clamp(16px, calc((20 / 1515) * 100vw), 20px);
  --text-p-small: clamp(12px , calc((14 / 1515) * 100vw), 14px);
  --text-p-small-line-height: 120%;
  --text-small: clamp(12px, calc((13 / 1515) * 100vw), 12px);

  --spacing-header: calc((80/1515) * 100vw);
  --spacing-footer-height: calc((1169/1717) * 100dvh);
  --spacing-logo: clamp(
    12px,
    calc((16 / 1515) * 100vw),
    16px
  );

  --spacing-xs: clamp(
    8px,
    calc((11 / 1515) * 100vw),
    calc((11 / 2880) * 100vw)
  );
  --spacing-sm: clamp(
    10px,
    calc((16 / 1515) * 100vw),
    calc((16 / 2880) * 100vw)
  );
  --spacing-md: clamp(
    24px,
    calc((24 / 1515) * 100vw),
    calc((24 / 2880) * 100vw)
  );
  --spacing-lg: clamp(
    28px,
    calc((30 / 1515) * 100vw),
    calc((30 / 2880) * 100vw)
  );
  --spacing-lg-2: clamp(
    23px,
    calc((40 / 1515) * 100vw),
    calc((58 / 2880) * 100vw)
  );
  --spacing-xxl: clamp(
    34px,
    calc((63 / 1515) * 100vw),
    calc((120 / 2880) * 100vw)
  );
  --spacing-xxl-2: clamp(
    61px,
    calc((115 / 1515) * 100vw),
    calc((175 / 2880) * 100vw)
  );
  --spacing-product-description: clamp(
    0px,
    calc((133 / 1515) * 100vw),
    calc((350 / 2880) * 100vw)
  );

  --spacing-card: clamp(
    47px,
    calc((72 / 1515) * 100vw),
    calc((101 / 2880) * 100vw)
  );

  --spacing-max: clamp(24px, calc((574 / 1515) * 100vw), 574px);
  --spacing-max-sm: clamp(24px, calc((359 / 1515) * 100vw), 359px);
  --spacing-max-ssm: clamp(24px, calc((335 / 1515) * 100vw), 335px);
  --spacing-max-xs: clamp(24px, calc((235 / 1515) * 100vw), 235px);

  --spacing-section: clamp(43px, calc((79 / 1515) * 100vw), 79px);
  --spacing-title: clamp(30px, calc((45 / 1515) * 100vw), 45px);

  --spacing-items-menu: clamp(10px, calc((45 / 1515) * 100vw), 45px);

  --spacing-card-product: clamp(
    100%,
    calc((480 / 1515) * 100vw),
    calc((868 / 2880) * 100vw)
  );
}

html {
  @apply
  w-[100vw]
  overflow-x-hidden
  md:overflow-x-visible;
}
body {
  font-variation-settings: "opsz" 144;
  @apply w-[100vw]
    overflow-x-hidden
    font-montagu;
}

footer {
  @apply mb-sm;
}

p,
a,
h1,
h2,
h3,
h4,
h5 {
  @apply
  leading-[120%];
}

/* Header */



header, .mobile-menu {
  ul {
    li {
      @apply
      flex
      items-center;
      a {
        @apply
        flex
        gap-2
        items-center;
        span {
          @apply
          flex
          flex-row
          items-center
          rounded-full
          overflow-hidden
          w-[10px]
          h-[10px]
          opacity-0;
        }
        &:hover {
          span {
            @apply
            opacity-100;
          }
        }
      }
      
      a.active {
        span {
          @apply
          opacity-100;
        }
      }
    }
  }
}


.sub-header {
  @apply
  z-5 
  fixed 
  top-0 
  left-0 
  w-full 
  py-sm 
  px-md
   text-white 
   border-b 
   text-p-small;
  ul {
    @apply
    pt-sm;
    li {
      &:hover {
        a {
          &::after, &::before {
            @apply
            opacity-100;
          }
        }
      }
      a {
        &.active {
          &::after, &::before {
            @apply
            opacity-100;
          }
        }
          @apply
          block
          relative;
          &.active {

          }
          &:before {
            content: '(';
            @apply
            opacity-0
            absolute
            -left-3;
          }
          &:after {
            content: ')';
            @apply
            opacity-0
            absolute
            -right-3;
          }
        
      }
    }
  }
}

.product-page {
  .highlight {
    @apply text-pink
        text-nowrap
        absolute;
    span {
      @apply bg-pink;
    }
    &:first-child {

      @apply 
      top-[calc((150/1515)*100vw)]
      left-[calc((300/1515)*100vw)]
      md:top-[calc((-300/1515)*100vw)]
            md:left-[calc((-100/1515)*100vw)];
    }
    &:nth-child(2) {

      @apply
      left-[calc((50/1515)*100vw)] 
      top-[calc((350/1515)*100vw)]
      md:top-[calc((0/1515)*100vw)]
      md:left-[calc((-300/1515)*100vw)];
    }
    &:nth-child(3) {
      @apply 
      md:left-[calc((-250/1515)*100vw)]
      top-[calc((1550/1515)*100vw)]
      md:top-[calc((150/1515)*100vw)]
      left-[calc((150/1515)*100vw)];
    }
    &:nth-child(4) {
      @apply 
      top-[calc((347/320)*100vw)]
      md:top-[calc((250/1515)*100vw)]
      left-[calc((170/320)*100vw)]
      md:left-[calc((105/1515)*100vw)];
    }
  }
  .tab-header {
    position: relative;
  }
  .tab-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px; /* h-1 */
    background: white;
    will-change: transform, width;
  }

  
}

body:has(.product-page) {
    @apply bg-black;
}

body:has(#contact-form) {
  footer {
    @apply
    border
    border-black;
  }
}

/* Card Effect */
.cardCont {
  @apply
  aspect-[308/431]
  w-full
  md:aspect-[235/300]
  md:h-fit
  mb-sm
  md:mb-0
  md:mr-xs;
  float: left;

  position: relative;
  /*border:solid 2px #fff;*/
}
.cardFront,
.cardBack {
  position: absolute;
  @apply
  rounded-[15px]
  overflow-hidden
  w-full
  h-fit
  aspect-[300/431]
  md:aspect-[235/300];
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
.cardFront {
  @apply
  bg-ash;
}
.cardBack {
  @apply
  bg-pink;
}

/* Cookies  */
 #cookie-banner {
  z-index: 1000;
  @apply

  md:min-w-[290px]
  md:max-w-[calc((358/1515)*100vw)]
  text-p-small
  p-md
  flex
  flex-col
  items-start
  text-left
  fixed
  bottom-0
  right-0
  m-sm
  rounded-[15px]
  bg-pink;

  
  span {
    @apply
    mb-sm
    uppercase;
  }
  p {
    @apply
    mb-sm;
  }
  .buttons {
    @apply
    mt-md
    w-full
    gap-2
    text-nowrap
    justify-end
    flex;
  }
  a.primary {
    @apply
    font-haffe
    text-p-small
    cursor-pointer
    py-sm
    px-lg-2
    flex
    items-center
    leading-[100%]
    bg-black
    text-pink
    rounded-full
    ;
  }
  a.secondary {
    @apply
    font-haffe
    text-p-small
    cursor-pointer
    py-sm
    flex
    items-center
    leading-[100%]
    px-lg-2
    bg-pink
    border
    border-black
    text-black
    rounded-full
    ;
  }
}
#cookie-banner button {
  margin-left: .5rem;
}

/* Modal de ajustes */
#cookie-settings-modal {

  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.5);
  z-index: 1001;
  justify-content: center;
  align-items: center;
  label {
    @apply
    items-center
    !flex;
    input {
      @apply
      cursor-pointer
      w-0
      opacity-0
      relative;
      
      &:checked + .dot-check {
      
          @apply
          bg-black;
        
      }
      
    }
  }
}
#cookie-settings-modal .modal-content {
  @apply
  absolute
  bottom-0
  right-0
  rounded-[15px]
  max-w-[725px]
  md:min-w-[700px]
  md:max-w-[calc((358/1515)*100vw)]
  text-p-small
  p-md
  bg-pink
  m-sm;
  h2,p {
    @apply
    pb-sm;
  }
  .buttons {
    @apply
    mt-md
    w-full
    gap-2
    text-nowrap
    justify-end
    flex;
  }
  a.primary {
    @apply
    font-haffe
    text-p-small
    cursor-pointer
    py-sm
    px-lg-2
    flex
    items-center
    leading-[100%]
    bg-black
    text-pink
    rounded-full
    ;
  }
  a.secondary {
    @apply
    font-haffe
    text-p-small
    cursor-pointer
    py-sm
    flex
    items-center
    leading-[100%]
    px-lg-2
    bg-pink
    border
    border-black
    text-black
    rounded-full
    ;
  }
}
#cookie-settings-modal label {
  display: block;
  margin-bottom: .5rem;
}
#cookie-settings-modal button {
  margin-top: 1rem;
  margin-right: .5rem;
}

/* Contact Form */

section.contact-section + footer {
  @apply
  border
  border-black;
}

body:has(section.contact-section) {
  @apply
  bg-pink;
}

.radio-buttons {
  label {
    @apply
    pl-1.5
  }
}
.dot-check {
  
  @apply
  h-[6px]
  w-[6px]
  mx-2
  rounded-full
  bg-transparent;

}
input[type="radio"] {
  @apply
  cursor-pointer
  w-0
  opacity-0
  relative;
  
  &:checked + .dot-check {
  
      @apply
      bg-black;
    
  }
}

/* Components */

.play-slider {
  &.with_items_paragraphs {
    .swiper-pagination {
      @apply
      gap-sm
      justify-end;
    }
  }
  .swiper-pagination {
 
      @apply
      text-white
      absolute
      bottom-0
      z-10
      right-0
      md:left-0
      md:right-auto
      flex
      justify-center
      flex-col
      h-[100vh]
      text-p-small
      w-[70%]
      md:max-w-max-sm
      pb-md
      px-md;
      .swiper-pagination-bullet {
        opacity: .6;
      }
      .swiper-pagination-bullet-active {
        opacity: 1;
      }
    
  }
}

/* Team/Press/Countries/Investors */

.block-dots {
  @apply
  mx-auto
  max-w-[1450px];
  h3 {
    @apply
    pl-md
    relative;
    &:after {
      content: '';
      @apply
      absolute
      top-2
      left-0
      h-2.5
      w-2.5
      rounded-full
      bg-black;
    }
  }
  .person {
    &:hover {
      img {
        @apply
        transition-all
        h-auto;
      }
    }
  }
}

/* Form */

.contact-section {
  @apply
  py-xxl
  text-p
  md:text-p-small;

 
  label {
    @apply
    text-nowrap
    text-p
    md:text-p-small;
  }
  
  input {
    @apply
    font-haffe
    text-p
    md:text-p-small
    focus:outline-none
    border-b
    border-b-black;
  }
 
  .inputs-form {
    
    input[type="text"], input[type="email"]{
      @apply
      w-full;
    }
    .inputs-form-wrapper {
      @apply
      flex 
      flex-col 
      md:max-w-max-ssm;
      & > div {
        @apply
        flex
        gap-3
        mb-lg;
      }
    }
    
    .radio-buttons {
      @apply
      flex
      gap-lg-2;
      legend {
        @apply
        w-fit
        block;
      }
    }
  }

  .textarea-form {
    textarea {
      @apply
      p-sm
      focus:outline-none
      resize-none
      aspect-video
      rounded-[15px]
      border
      border-black;
    }
  }
  
}


.mobile-menu {
  @apply
  p-sm
  flex
  flex-col
  justify-between
  z-14
  fixed
  top-0
  left-0
  h-[100vh]
  w-[100vw]
  bg-pink;
   
  .menu-items {
      li {
        a {
          @apply
          leading-[100%]
          text-[22px];
          span {
            @apply
            !bg-black;
          }
        }
      }
    }
}

.button-wrapper {
  @apply
  md:p-sm 
  w-full 
  aspect-[308/143] 
  md:aspect-[1462/504] 
  flex
  relative 
  px-sm
  md:pt-xxl;
 
  a {
    @apply
   
    w-full 
    cursor-pointer 
    font-haffe  
    text-white
    bg-black
    md:bg-white
    md:text-black 
    h-full 
    flex 
    aspect-[308/143]
    md:aspect-[1462/504]
    justify-center 
    items-center 
    border 
    border-black 
    rounded-full 
    hover:border-none 
    hover:bg-black 
    underline
    underline-offset-4
    hover:text-white;
  }
  &.style-2 {
    a {
      @apply
      border-pink
      text-black
      md:border-black
      hover:border-none 
      bg-pink
      md:bg-white
      md:hover:bg-pink 
      md:hover:text-white;
    }
  }
  &.style-3 {
    a {
      @apply
      aspect-[308/143]
      bg-white
      text-black
      md:bg-black
      md:text-white
      md:border-white
      md:hover:bg-pink 
      md:hover:text-white;
    }
  }
}

.legal {

  span + h1 {
    @apply
    hidden;
  }
  p {
    @apply
    mb-xs;
  }
  h1, .wp-block-heading {
    @apply
    mb-xxl-2
    text-center
    text-title;

    &.h2 {
      @apply
      mt-xxl-2;
    }
  }
  h2.wp-block-heading {
    @apply
      mt-xxl-2;
  }
  .wp-block-columns {
    @apply
    text-p-small
    mt-md
    mb-md
    flex;
    & > div {
      @apply
      w-full;
      
    }
  }
}

.slot-container:has(.slider-main) + .slot-container footer {
  @apply hidden;
}

#mc_embed_signup div.mce_inline_error {
  margin: 0 0 1em 0;
    padding: 5px 0px!important;
    z-index: 1;
    @apply
    absolute
    !bg-transparent
    !text-black;
}

#mce-responses {
  @apply
  pointer-events-none;
  position: absolute;
  width: 100%;
  padding-top: 20px;
}


/* Scrollbar Swiper */

.swiper-horizontal > .swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
  @apply
  !w-[calc((100%-(var(--spacing-md)*2)))]
  !h-[1px]
  mx-md
  flex
  opacity-80
  items-center
  my-md
  bg-white;
}

.swiper-scrollbar-drag {
  @apply
  !h-[2px]
  !bg-white;

}