---
const defaultLocale = 'en';
---

<html lang="en">
  <head>
    <title>Redirecting...</title>
    <meta name="robots" content="noindex">
  </head>
  <body>
    <script>
      const hasBeenRedirected = sessionStorage.getItem('redirectedToLocale');

      if (!hasBeenRedirected) {
        const userLang = navigator.language || navigator.userLanguage;
        const preferredLocale = userLang.startsWith('es') ? 'es' : 'en';

        sessionStorage.setItem('redirectedToLocale', 'true');
        window.location.replace('/' + preferredLocale);
      }
    </script>
  </body>
</html>
