---
const defaultLocale = 'en';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Redirecting...</title>
    <meta name="robots" content="noindex" />
    <link rel="canonical" href={`/en`} />
    <meta http-equiv="refresh" content="0; url=/en" />
  </head>
  <body>
    <p>Redirecting to /{defaultLocale}…</p>
  </body>
</html>
