---
const defaultLocale = 'en';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Redirecting...</title>
    <meta name="robots" content="noindex" />
    <meta http-equiv="refresh" content="0; URL=/${defaultLocale}" />
  </head>
  <body>
    <p>Redirecting to /{defaultLocale}...</p>
  </body>
</html>
