---
const defaultLocale = 'en';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Redirecting...</title>
    <meta name="robots" content="noindex" />
    <script>
      console.log("✅ Ejecutando index.astro: redirigiendo a /en");
      window.location.href = "/en";
    </script>
  </head>
  <body>
    <!-- <p>Redirecting to /en...</p> -->
  </body>
</html>