---
const defaultLocale = 'en';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Redirecting...</title>
    <meta name="robots" content="noindex" />
    <script>
      console.log("🌐 En / (index.astro)");
      console.log("➡️ Pathname:", window.location.pathname);
      console.log("📜 History length:", window.history.length);

      setTimeout(() => {
        window.location.href = "/en";
      }, 500); // o más si necesitas asegurar
    </script>
  </head>
  <body>
    <p>Redirecting to /en...</p>
  </body>
</html>
