---
const defaultLocale = 'en';
---

<html lang="en">
  <head>
    <title>Redirecting...</title>
  </head>
  <body>
    <!-- <h1>Redirecting...</h1> -->
    <script>
      // Detecta si se entra directamente en / (sin historial previo)
      const isDirectVisit = window.history.length <= 1;

      if (isDirectVisit) {
        // Si el usuario viene directamente, usa location.href para que pueda volver atrás
        window.location.href = '/en';
      } else {
        // Si es navegación interna (por ejemplo desde /en/productos), usa replace para no dejar / en el historial
        window.location.replace('/en');
      }
    </script>
  </body>
</html>
